html,body{
	font-family: sans-serif;
}
html{
	scroll-behavior:smooth;
}
*, *:before, *:after {
	box-sizing: border-box;
}
@font-face {
	font-family: 'LigatureSymbols';
	src: url('http://tanabata.sfc.keio.ac.jp/fonts/LigatureSymbols-2.11.eot');
	src: url('http://tanabata.sfc.keio.ac.jp/fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
			 url('http://tanabata.sfc.keio.ac.jp/fonts/LigatureSymbols-2.11.woff') format('woff'),
			 url('http://tanabata.sfc.keio.ac.jp/fonts/LigatureSymbols-2.11.ttf') format('truetype'),
			 url('http://tanabata.sfc.keio.ac.jp/fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
	font-weight: normal;
	font-style: normal;
}

.lsf {
	font-family: 'LigatureSymbols';
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-font-feature-settings: "liga" 1, "dlig" 1;
	-moz-font-feature-settings: "liga=1, dlig=1";
	-ms-font-feature-settings: "liga" 1, "dlig" 1;
	-o-font-feature-settings: "liga" 1, "dlig" 1;
	font-feature-settings: "liga" 1, "dlig" 1;
	margin-right:0.5em;
	font-size:1.5em;
}
a.anc{
	position:relative;
	top:-4.5em;
	display: block;
}
body{
	margin-top:3.5em;
	background-color:#e3e4e8;
}
a:link{
	color: #0000FF;
}
a:visited{
	color: #0000FF;
}
a:hover{
	color: #FF0000;
	text-decoration:none;
}
h1{
	color:#4a7973;
}
h2{
	border-left:solid 10px #6db26a;
	padding-left:0.3em;
}
h3{
	width:100%;
	background:linear-gradient(to right,#6db26a,#ffffff);
	padding-left:0.3em;
	color:#ffffff;
	margin-bottom:0.5em;
}
.main{
	padding:1.0em;
	padding-top:0.3em;
	width:1000px;
	background-color:#ffffff;
	margin:0 auto;
}
.head{
	background-image:url(img/hanabi1.jpg);
	height:20vh;
	width:1000px;
	margin:0 auto;
	background-size:cover;
	position:relative;
}
.head_menu{
	display:flex;
	position:absolute;
	bottom:0;
	width:100%;
	justify-content:space-around;
}
.head a{
	display:block;
	border-top: solid 5px #6db26a;
	text-decoration:none;
	color:#ffffff;
	padding:0.5em;
	background-color:rgba(0,0,0,0.4);
	transition: 150ms all 0s ease;
	text-align: center;
}
.head a:hover{
	border-top: solid 5px #d8445a;
	background-color:rgba(255,255,255,0.7);
	color:#000000;
}
.section{
	margin-bottom:3.0em;
}

.mokuji ul{
	list-style: none;
	border-top: 2px dashed #6db26a;
	border-bottom: 2px dashed #6db26a;
	margin-top: 1.8em;
	margin-bottom: 1.8em;
}
.mokuji ul li{
	list-style: none;
	margin: 0.9em auto;
}
.mokuji ul li a{
	color: #298027;
	text-decoration: underline solid #298027;
	transition: 120ms all 0s ease;
}
.mokuji ul li a:hover{
	text-decoration: underline solid rgba(41,128,39,0);
}

/* FOOTER */
.footer{
	width:1000px;
	background-color:#3ca8a1;
	color:#ffffff;
	margin:0 auto;
	padding:1.0em;
	text-align:center;
}
.footer .menuelem:before{
	content:">";
}
.footer .menuelem{
	color:#fff;
	margin-left:1.0em;
}
.footer .menuelem:nth-child(1){
	margin-left:0;
}

@media screen and (max-width: 1000px){
	.main,.head,.footer{
		width:98%;
		float:none;
		margin:auto;
	}
}

/* HEADER */
#header{
	display: block;
	margin:0;
	background-color:rgba(60,168,161, 0.8);
	width:100%;
	position:fixed;
	top:0;left:0;
	z-index:999;
	text-align:center;
	padding:0em;
	transition: all 300ms 0s ease;
	overflow:hidden;
	height:3.5em !important;
}
#header a{
	display:inline-block;
	padding:1.0em;
}
#header img{
	height:1.5em;
}
#headmenubutton{
	position:absolute;
	top:0;right:0;
	height:100%;
	padding:1.0em;
	cursor:pointer;
	overflow:hidden;
}
#headmenubutton div{
	background-color:#ffffff;
	height:2px;
	width:1.6em;
	margin-bottom:0.5em;
	transition: all 240ms 0s ease;
}
.sidemenuclosebutton div:nth-child(1){
	transform:rotate(-45deg) translate(-9px,5px);
}
.sidemenuclosebutton div:nth-child(2){
	opacity:0;
}
.sidemenuclosebutton div:nth-child(3){
	transform:rotate(45deg) translate(-9px,-5px);
}

#sidemenu{
	width:100%;
	height:100%;
	position:fixed;
	left:100%;
	top:0;
	padding:3.5em;
	background-color:rgba(0,0,0, 0.8);
	transition: all 240ms 0s ease;
	z-index:998;
	text-align:center;
	overflow:auto;
}
#sidemenu a{
	display:block;
	margin:1.5em;
	color:#ffffff !important;
	padding:1.5em;
	background-color:rgba(140, 140, 140, 0.8);
	text-decoration:none;
	cursor:pointer;
	transition: all 300ms 0s ease;
	z-index:500;
}
#sidemenu a:hover{
	background-color:rgba(99,199,193, 1) !important;
}


@media screen and (max-width: 768px){
	.spbr{
		display: inline;
	}
	#header{
		padding:0 !important;
		height: 3.5em;
	}
	#header a{
		padding:auto !important;
	}
	#header img{
		width:60%;
		height:auto !important;
	}
	#sidemenu{
		padding-left:1em !important;
		padding-right:1em !important;
	}
	.head_menu{
		display:none;
	}
}